body {
    font-family: Roboto;
    margin: 0;
}

#background {
    background-color: #1F2937;
    margin: -10px -10px 0px -10px;
    display:flex;
    flex-direction: column;
    padding-top: 10px;
}

#headerlogo {
    font-size: 24px;
    padding-top: 10px;
    font-weight: bold;
}

#awesome {
    font-size: 48px;
    max-width: 350px;
    font-weight: bolder;
}

#body1 {
    display: flex;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 100px;
    margin-top: 50px;
}

#button1 {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 3px 20px;
    font-weight: bold;
    border: none;
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: space-around;
    
}

ul {
    display: flex;
}

li {
    margin-left: 25px;
}
.white {
    color: #F9FAF8;
}

#offwhite, a {
    color: #E5E7EB;
}

#offwhite {
    max-width: 420px;
    margin-top: -20px;
}

#yoshi {
    max-width: 300px;
    flex: 1 1 auto;
}

.imagetext {
    max-width: 150px;
    margin: 25px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.icons {
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 40px;
    text-align: center;
}

.imagetext {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.body3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    margin-right: -10px;
}

em {
    font-size: 26px;
    color: #1F2937;
    font-weight:300;
    max-width: 600px;
    flex: 1 1 auto;
}
#thor {
    align-self: flex-end;
    margin-right: 200px;
    font-size: 16px;
    font-weight: bold;
}